<div class="page-header">
    <h1>FAQ<small>frequently asked questions</small></h1>
</div>

<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span2">
			<ul class="nav nav-tabs nav-stacked">
			    <li><a href="#">Algemein</a></li>
			    <li><a href="#">Bestellung und Versand</a></li>
			    <li><a href="#">Mein Weinbock!</a></li>
			</ul>
		</div>
    	<div class="span8">

<div class="accordion" id="accordion1">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
				Was ist WEINBOCK?
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				WEINBOCK ist das monatliche Abo fuer Ihre Geschmackssine.   WEINBOCK ist Trendwatcher, Berater und Verwoehnpacket in einem. Mit WEINBOCK erhalten Sie eine immer edle Auswahl an Weinen direkt nach Hause. WEINBOCK ermöglicht Ihnen das Entdecken und Testen edler Tropfen, ohne unvorhergesehene Kostenueberraschungen. In jedem Packet befinden sich 3 Weine zugeschnitten auf Ihr geschmacksprofil, mit Ihren lieblingen und ausgewaehlten Neuheiten, zum genissien und mit Freunden Teilen.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
				Welche Packete gibt es?
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				Es gibt nur das eine WEINBOCK packet im jederzeit kündbaren Abonnement, es kommt monatlich mit drei ausgewählten Produkten zu Ihnen nach Hause und kostet jeweils 29.90€ inklusive Versand.   Alternativ können Sie ein Abonnement mit fester Laufzeit bestellen. Erhältlich sind ein 3-Monats-Abo und ein 6-Monats-Abo. Diese eignen sich auch hervorragend zum Verschenken an Freunde, Bekannte und Verwandte. Bei Abschluss eines Abonnements mit fester Laufzeit können Sie von attraktiven Rabatten profitieren.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
				Gibt es ein WEINBOCK Geschenk-Abo?
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				Das WEINBOCK Packet können Sie auch an eine andere Person als Geschenk verschicken lassen, wenn Sie die Adresse des Beschenkten als Versandadresse angeben. Wie Sie die Lieferadresse Ihres WEINBOCK Packetes ändern, können Sie unter "Mein BOCK" nachlesen.  
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
				Weiß ich vorher, was in meinem WEINBOCK Packet enthalten ist?
			</a>
		</div>
		<div id="collapseFour" class="accordion-body collapse">
			<div class="accordion-inner">
				Zur Idee von WEINBOCK gehört es, stets eine erlesene, persoenliche Auswahl zu erstellen, um den Geschenk-Charakter und somit die Überraschung für Sie größtmöglich zu machen. Ihre WEINBOCK Packete enthalten neben Klassikern die Ihnen gefallen auch neue Entdeckungen und aktuelle Trends. Sie haben sogar die Moeglichkeit in jeder Lieferung einen Wein frei zu waehlen. Sie können sich daher jeden Monat von den Produkten in Ihres WEINBOCK Packetes überraschen lassen und sich gleichzeitig sicher sein, dass es unser oberstes Ziel ist, Sie mit Ihren lieblingssorten zu versorgen.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
				Wo kann ich die Weine aus der WEINBOCK Lieferung nachkaufen?
			</a>
		</div>
		<div id="collapseFive" class="accordion-body collapse">
			<div class="accordion-inner">
				Haben Sie die Produkte aus dem WEINBOCK Packet besonders überzeugt, können Sie diese direkt in unserem Onlineshop nachkaufen. 
			</div>
		</div>
	</div>
</div>


    	</div>
    	<div class="span2">    		
			<h2 class="without-margin-top">Kontaktieren Sie Uns</h2>
			<p class="service-phone">E-Mail:<br>
			<a href="mailto:kontakt@weinbock.de" target="_blank">kontakt@weinbock.de</a></p>
			<p class="service-phone">Pressekontakt:<br>
			<a href="mailto:presse@weinbock.de" target="_blank">presse@weinbock.de</a></p><br>
			<p class="service-phone">Servicetelefon (werktags 9:00-12:30 Uhr und 14:30-18:00 Uhr):<br>
			0711 - 50 888 362<br></p>
    	</div>
	</div>
</div>









<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				Wann bekomme ich mein Packet?
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				Alle bis zu einem bestimmten Stichtag bestellten Packete werden auf einmal verschickt. Wer nach dem Stichtag bestellt, erhält sein Packet nach Ablauf des folgenden Stichtags. Die genauen Daten der Stichtage variieren von Monat zu Monat und bleiben daher verborgen. Jeder, der ein Packet erfolgreich bestellt hat und eine Bestellbestätigungs-E-Mail erhalten hat, bekommt auf jeden Fall ein Packet zugeschickt.  Es werden so lange Packete verkauft, bis das WEINBOCK Packet für den jeweiligen Monat ausverkauft ist. Wer danach ein Packet bestellt, erhält sein erstes WEINBOCK  packet im folgenden Monat. Es gilt immer: Der Betrag für das nächste WEINBOCK packet wird immer am Anfang des Monats abgebucht, das Packet selbst wird immer erst am Ende eines Monats verschickt.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Kommt mein nächstes WEINBOCK Packet automatisch oder muss ich etwas tun?
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				Haben Sie das WEINBOCK Packet im jederzeit kuendigbaren Abonnement bestellt, so erhalten Sie Ihre folgenden WEINBOCK Packete automatisch, bis Sie Ihr monatliches Abonnement sesbstaendig kuendigen. 
Haben Sie das Abonnement mit fester Laufzeit bestellt, so erhalten Sie Ihre WEINBOCK Packete bis Ihr Abonnement mit fester Laufzeit endet. Wenn Sie beispielsweise Anfang Oktober ein 3-Monats-Abo bei WEINBOCK bestellen, erhalten Sie diese im Oktober, November und Dezember automatisch. Wenn Sie ab Januar weiterhin Ihr WEINBOCK Packet erhalten möchten, schließen Sie dazu einfach ein neues Abo ab.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				Wohin kann ich mir mein WEINBOCK Packet schicken lassen?
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				Das WEINBOCK Packet können Sie auch an eine andere Person als Geschenk verschicken lassen, wenn Sie die Adresse des Beschenkten als Versandadresse angeben. Wie Sie die Lieferadresse Ihres WEINBOCK Packetes ändern, können Sie unter "Mein BOCK" nachlesen.  
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				Weiß ich vorher, was in meinem WEINBOCK Packet enthalten ist?
			</a>
		</div>
		<div id="collapseFour" class="accordion-body collapse">
			<div class="accordion-inner">
				Ihr WEINBOCK Packet können Sie an ihre Wohnadresse, in Ihr Büro oder an eine Packstation senden lassen. WEINBOCK versendet ausschließlich innerhalb Deutschlands.  Unter „Mein Weinbock“ finden Sie die Auflistung all Ihrer Abonnements. Bitte loggen Sie sich dazu in Ihren Account ein. Mit einem Klick auf Ihr entsprechendes Abo können Sie die Details einsehen. Dort finden Sie auch den Button „Lieferadresse ändern“. Hier können Sie Ihre eigene Wohnadresse eintragen oder aber die Ihres Arbeitsplatzes.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
				Wie kann ich mein WEINBOCK Packet an eine Packstation senden lassen?
			</a>
		</div>
		<div id="collapseFive" class="accordion-body collapse">
			<div class="accordion-inner">
				Sie können sich Ihr WEINBOCK Packet auch an eine Packstation schicken lassen. Dazu benötigen Sie die achtstellige Postnummer und die dreistellige Packstationsnummer. Geben Sie dort, wo bei einer normalen Adresse die Straße stünde, einfach den Begriff „Packstation“ und als Hausnummer die dreistellige Packstationsnummer an. Im Feld „Adresszusatz“ geben Sie einfach die achtstellige Postnummer an. So sieht eine beispielhafte Packstations-Adresse aus:  Vorname: Max  Nachname: Muster Adresszusatz: XXXXXXXX (achtstellige Postnummer) Straße und Hausnummer: Packstation XXX PLZ und Ort: 12345 Berlin  Bundesland: Berlin Telefon: 030/xxxxxxxx
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
				Wann wird der Kaufpreis abgebucht?
			</a>
		</div>
		<div id="collapseSix" class="accordion-body collapse">
			<div class="accordion-inner">
				Beim Abschluss des Abonnements wird Ihnen der Kaufpreis direkt nach Beendigung des Kaufprozesses in Rechnung gestellt. Beim monatlichen Abo werden die Kosten für die folgenden Packete in der Regel in der ersten Kalenderwoche des Monats abgebucht. Die Kosten für die 3-Monats- und 6-Monats-Abonnements werden einmalig abgebucht, danach fallen keine Folgekosten mehr an.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
				Welche Zahlungsmöglichkeiten habe ich?
			</a>
		</div>
		<div id="collapseSeven" class="accordion-body collapse">
			<div class="accordion-inner">
Ihren WEINBOCK können Sie mit Kreditkarte, per Lastschrift oder mit PayPal bezahlen. Der Betrag für das kommende WEINBOCK Packet wird bereits am Monatsbeginn in der von Ihnen gewünschten Zahlungsweise abgebucht. In den Preisen für Ihr WEINBOCK Packet ist der Versand bereits einhalten.  Wenn Sie ein unbegrenztes Abonnement abgeschlossen haben, wird jeden Monat der Betrag für das kommende Packet abgebucht. Haben Sie ein 3- oder 6-Monats-Abo abgeschlossen, wird der Gesamtbetrag für alle Boxen auf einmal abgebucht.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
				Was tun, wenn mich ein Produkt beschädigt erreicht?
			</a>
		</div>
		<div id="collapseEight" class="accordion-body collapse">
			<div class="accordion-inner">
Bei aller Sorgfalt, die wir für Sie beim Verpacken der Lieferungen walten lassen, kann es vereinzelt zu Transportschäden kommen. In diesem Fall möchten wir Ihnen schnellstmöglich Ersatz leisten. Bitte schicken Sie uns daher umgehend ein Foto des beschädigten Produkts an kontakt@weinbock.de. Wir senden Ihnen dann einen neuen Wein zu.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
				Was tun, wenn ein Produkt fehlt?
			</a>
		</div>
		<div id="collapseNine" class="accordion-body collapse">
			<div class="accordion-inner">
Sollte wider Erwarten einer der auf der Produktkarte aufgelisteten Weine nicht im  WEINBOCK Packet zu finden sein, schreiben Sie uns bitte eine E-Mail an kontakt@weinbock.de und benennen Sie den fehlenden Wein. Sie erhalten dann ein PDF-Formular, welches Sie ausgefüllt an uns zurückschicken. Der Kundenservice wird Ihnen dann schnellstmöglich den fehlenden Wein zuschicken.
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
				Meine WEINBOCK Packet ist noch nicht da! Was tun?
			</a>
		</div>
		<div id="collapseTen" class="accordion-body collapse">
			<div class="accordion-inner">
Über den Versand Ihres WEINBOCK Packetes werden Sie in einer Versandbestätigungs-E-Mail benachrichtigt. Diese E-Mail wird an die E-Mail-Adresse geschickt, die Sie bei Ihrer Anmeldung auf www.weinbock.de angegeben haben. In Einzelfällen wird die Versandbestätigungs-E-Mail von Ihrem E-Mail-Provider in den Spam-Ordner geleitet.   In der Versandbestätigungs-E-Mail finden Sie die Bestellnummer zur Sendungsverfolgung. Diese können Sie auch in Ihrem Account unter „Meine Bestellungen“ einsehen. Mithilfe dieser Nummer können Sie bei der DHL verfolgen, wo sich Ihr Paket gerade befindet und wann Ihr WEINBOCK Packet Sie voraussichtlich erreicht.
			</div>
		</div>
	</div>
</div>




