<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Weinbock</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a class="" href="#howto">So Funktioniert's</a></li>
            <li><a class="" href="#about-us">About</a></li>
            <li><a class="" href="#contact">Contact</a></li>
            <li><a class="" href="#faq">FAQ</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="#">Link</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Mein Weinbock <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>