<h2 class="form-signin-heading">Sign up, it's FREE!</h2>
<div class="alert alert-danger">
    <a class="close" data-dismiss="alert">&times;</a>Incorrect Email or Password!
</div> 
<form class="captcha" method="POST" action="">
    <div id="recaptcha_div"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>