<form class="form-signin">
    <h2 class="form-signin-heading">Login:</h2>
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">Incorrect Email or Password!&times;</a>
    </div>  
    <input type="text" class="input-block-level" placeholder="Email address">
    <input type="password" class="input-block-level" placeholder="Password">
    <button id="loginBtn" class="btn btn-large btn-primary" type="submit">Sign in</button>
    <p><br>Forgot password?<a href="#" id="lostBtn" class="btn btn-large">Reset</a>
    </p>
</form>
