<h2 class="form-signin-heading">Login:</h2>
<div class="alert alert-danger alert-dismissable fade">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <strong>Error!</strong> Incorrect Email or Password!
</div>
<input type="text" class="input-block-level" placeholder="Email address">
<input type="password" class="input-block-level" placeholder="Password">
<button id="loginBtn" class="btn btn-large btn-primary" type="submit">Sign in</button>
<p><br>Forgot password?<a href="#" id="lostBtn" class="btn btn-large">Reset</a></p>