    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" data-target="#collapse{{id}}">
        Collapsible Group Item {{id}}
      </a>
    </div>
    <div id="collapse{{id}}" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>