<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Weinbock</title>
<meta name="description" content="an online wine heaven.">
<meta name="author" content="Johann Barbie">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/png" href="${resPath}/images/37coins_icon.png">
<link rel="shortcut icon" href="${resPath}/images/37coins_icon.png">

<link rel="stylesheet" href="${resPath}/styles/main.css">

<script src="${resPath}/scripts/vendor/modernizr.js"></script>
<script type="text/javascript">
		window.opt = {
			resPath: '${resPath}',
			lng: '${lng}',
			captchaPubKey: '${captchaPubKey}',
			basePath: '${basePath}'
	};
</script>