<nav>
    <ul>
    	<li><a href="#contacts">Kontakt</a></li>
    	<li><a href="#about-us">Über Uns</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#affiliate">Affiliate</a></li>
    	<li><a href="#privacy-policy">Datenschutz</a></li>
    	<li><a href="#terms-and-conditions">AGB</a></li>
    	<li><a href="#impressum">Impressum</a></li>
    </ul>
</nav>
<div id="social">
    <ul>
        <li><a href="http://twitter.com/weinbock" target="_blank">Follow us on Twitter</a></li>
        <li><a href="https://www.facebook.com/winebock" target="_blank">Visit us on Facebook</a></li>
        <li><a href="http://pinterest.com/weinbock/" target="_blank">View our Pinterest Wall</a></li>
        <li><a href="https://www.youtube.com/user/weinbock" target="_blank">Watch our YouTube Channel</a></li>
        <li><a href="http://instagram.com/weinbock" target="_blank">Visit us on Instagram</a></li>
    </ul>
</div>