<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Weinbock</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a class="" href="#howto">So Funktioniert's</a></li>
            <li><a class="" href="#about-us">About</a></li>
            <li><a class="" href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mehr <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Aktuelles Packet</a></li>
                <li><a href="#">Alle Angebote</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Verschenken</a></li>
                <li><a href="#">Sortiment</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>