<div>Welcome to Weinbock!</div>
<div class="flexslider">
  <ul class="slides">
    <li><img src="http://dummyimage.com/600x400%2F000%2Ffff%26text%3Dwine%2Bimage%2B1" />
      <section class="ribbon  dark-text">
		  <div class="border">
		    <h1 class="without-margin-top">WEINBOCK: EINFACH BOCK AUF WEIN!</h1>
		    <div class="description">
		      <ul>
		        <li>Erhalten Sie jeden Monat eine Auswahl von 3 Weinen zum Geniessen &amp; Entdecken</li>
		        <li>Erleben Sie die neusten Trends der Weinwelt bequem von zu Hause</li>
		        <li>Überraschen Sie sich selbst, für nur 28,90 Euro/Monat</li>
		      </ul>                    
		    </div>
		    <a title="Jetzt Entdecken" href="/order" class="button call-to-action pink">Jetzt Entdecken</a>
		  </div>
		</section>
    </li>
    <li><img src="http://dummyimage.com/600x400/000%2Ffff%26text%3Dwine%2Bimage%2B2" />
		<section class="ribbon  dark-text">
		  <div class="border">
		    <h1 class="without-margin-top">WEINBOCK: EINFACH BOCK AUF WEIN!</h1>
		    <div class="description">
		      <ul>
		        <li>Erhalten Sie jeden Monat eine Auswahl von 3 Weinen zum Geniessen &amp; Entdecken</li>
		        <li>Erleben Sie die neusten Trends der Weinwelt bequem von zu Hause</li>
		        <li>Überraschen Sie sich selbst, für nur 28,90 Euro/Monat</li>
		      </ul>                    
		    </div>
		    <a title="Jetzt Entdecken" href="/order" class="button call-to-action pink">Jetzt Entdecken</a>
		  </div>
		</section>
    </li>
    <li><img src="http://dummyimage.com/600x400/000%2Ffff%26text%3Dwine%2Bimage%2B3" />
		<section class="ribbon  dark-text">
		  <div class="border">
		    <h1 class="without-margin-top">WEINBOCK: EINFACH BOCK AUF WEIN!</h1>
		    <div class="description">
		      <ul>
		        <li>Erhalten Sie jeden Monat eine Auswahl von 3 Weinen zum Geniessen &amp; Entdecken</li>
		        <li>Erleben Sie die neusten Trends der Weinwelt bequem von zu Hause</li>
		        <li>Überraschen Sie sich selbst, für nur 28,90 Euro/Monat</li>
		      </ul>                    
		    </div>
		    <a title="Jetzt Entdecken" href="/order" class="button call-to-action pink">Jetzt Entdecken</a>
		  </div>
		</section>
    </li>
  </ul>
</div>