<header class="jumbotron subhead" id="overview">
  
  <div class="container">
    
  <h1>
    FAQ
  </h1>
  
  <p class="lead">
    Frequently Asked Questions.
  </p>
  
  </div>
</header>
<div class="container">
  <div class="row">
    
  <div  id="navContainer" class="span3 bs-docs-sidebar">
    <ul id="navbar" class="nav nav-list bs-docs-sidenav">
      
      <li>
        <a data-wbtarget="#faqGeneral" href="#faqGeneral">
          <i class="icon-chevron-right">
          </i>
          Algemein
        </a>
      </li>
      
      <li>
        <a data-wbtarget="test" href="test">
          <i class="icon-chevron-left">
          </i>
          <small>
            Algemein
          </small>
        </a>
      </li>
      
      <li>
        <a data-wbtarget="#shipping" href="#shipping">
          <i class="icon-chevron-right">
          </i>
          Bestellung und Versand
        </a>
      </li>
      
      <li>
        <a data-wbtarget="#myAccount" href="#myAccount">
          <i class="icon-chevron-right">
          </i>
          Mein Weinbock!
        </a>
      </li>
    </ul>
  </div>
  <div id="faqContent" class="span9">
    <div id="faqGeneral">
    </div>
    <section id="general2">
      <div class="page-header">
        <h1>
          Algemein 
          <small>
            ueber Weinbock
          </small>
        </h1>
      </div>
      
      <h2>
        Was ist WEINBOCK?
      </h2>
      
      <p>
        WEINBOCK ist das monatliche Abo fuer Ihre Geschmackssine. WEINBOCK ist Trendwatcher, Berater und Verwoehnpacket in einem. Mit WEINBOCK erhalten Sie eine immer edle Auswahl an Weinen direkt nach Hause. WEINBOCK ermglicht Ihnen das Entdecken und Testen edler Tropfen, ohne unvorhergesehene Kostenueberraschungen.In jedem Packet befinden sich 3 Weine zugeschnitten auf Ihr geschmacksprofil, mit Ihren lieblingen und ausgewaehlten Neuheiten, zum genissien und mit Freunden Teilen.
      </p>
      
      <h2>
        Welche Packete gibt es?
      </h2>
      
      <p>
        Es gibt nur das eine WEINBOCK packet im jederzeit kndbaren Abonnement, es kommt monatlich mit drei ausgewhlten Produkten zu Ihnen nach Hause und kostet jeweils 29.90 inklusive Versand. Alternativ knnen Sie ein Abonnement mit fester Laufzeit bestellen. Erhltlich sind ein 3-Monats-Abo und ein 6-Monats-Abo. Diese eignen sich auch hervorragend zum Verschenken an Freunde, Bekannte und Verwandte. Bei Abschluss eines Abonnements mit fester Laufzeit knnen Sie von attraktiven Rabatten profitieren.
      </p>
      
      <h2>
        Gibt es ein WEINBOCK Geschenk-Abo?
      </h2>
      <p>
        Das WEINBOCK Packet knnen Sie auch an eine andere Person als Geschenk verschicken lassen, wenn Sie die Adresse des Beschenkten als Versandadresse angeben. Wie Sie die Lieferadresse Ihres WEINBOCK Packetes ndern, knnen Sie unter "Mein BOCK" nachlesen.
      </p>
      <h2>
        Wei ich vorher, was in meinem WEINBOCK Packet enthalten ist?
      </h2>
      <p>
        Zur Idee von WEINBOCK gehrt es, stets eine erlesene, persoenliche Auswahl zu erstellen, um den Geschenk-Charakter und somit die berraschung fr Sie grtmglich zu machen. Ihre WEINBOCK Packete enthalten neben Klassikern die Ihnen gefallen auch neue Entdeckungen und aktuelle Trends. Sie haben sogar die Moeglichkeit in jeder Lieferung einen Wein frei zu waehlen. Sie knnen sich daher jeden Monat von den Produkten in Ihres WEINBOCK Packetes berraschen lassen und sich gleichzeitig sicher sein, dass es unser oberstes Ziel ist, Sie mit Ihren lieblingssorten zu versorgen.
      </p>
      <h2>
        Wo kann ich die Weine aus der WEINBOCK Lieferung nachkaufen?
      </h2>
      <p>
        Haben Sie die Produkte aus dem WEINBOCK Packet besonders berzeugt, knnen Sie diese direkt in unserem Onlineshop nachkaufen.
      </p>
    </section>
    <section id="shipping">
      <div class="page-header">
        <h1>
          Bestellung und Versandt
        </h1>
      </div>
      
      <h2>
        Wann bekomme ich mein Packet?
      </h2>
      <p>
        Alle bis zu einem bestimmten Stichtag bestellten Packete werden auf einmal verschickt. Wer nach dem Stichtag bestellt, erhlt sein Packet nach Ablauf des folgenden Stichtags. Die genauen Daten der Stichtage variieren von Monat zu Monat und bleiben daher verborgen. Jeder, der ein Packet erfolgreich bestellt hat und eine Bestellbesttigungs-E-Mail erhalten hat, bekommt auf jeden Fall ein Packet zugeschickt.Es werden so lange Packete verkauft, bis das WEINBOCK Packet fr den jeweiligen Monat ausverkauft ist. Wer danach ein Packet bestellt, erhlt sein erstes WEINBOCK  packet im folgenden Monat. Es gilt immer: Der Betrag fr das nchste WEINBOCK packet wird immer am Anfang des Monats abgebucht, das Packet selbst wird immer erst am Ende eines Monats verschickt.
      </p>
      <h2>
        Kommt mein nchstes WEINBOCK Packet automatisch oder muss ich etwas tun?
      </h2>
      <p>
        Haben Sie das WEINBOCK Packet im jederzeit kuendigbaren Abonnement bestellt, so erhalten Sie Ihre folgenden WEINBOCK Packete automatisch, bis Sie Ihr monatliches Abonnement sesbstaendig kuendigen. Haben Sie das Abonnement mit fester Laufzeit bestellt, so erhalten Sie Ihre WEINBOCK Packete bis Ihr Abonnement mit fester Laufzeit endet. Wenn Sie beispielsweise Anfang Oktober ein 3-Monats-Abo bei WEINBOCK bestellen, erhalten Sie diese im Oktober, November und Dezember automatisch. Wenn Sie ab Januar weiterhin Ihr WEINBOCK Packet erhalten mchten, schlieen Sie dazu einfach ein neues Abo ab.
      </p>
      <h2>
        Wohin kann ich mir mein WEINBOCK Packet schicken lassen?
      </h2>
      <p>
        Das WEINBOCK Packet knnen Sie auch an eine andere Person als Geschenk verschicken lassen, wenn Sie die Adresse des Beschenkten als Versandadresse angeben. Wie Sie die Lieferadresse Ihres WEINBOCK Packetes ndern, knnen Sie unter "Mein BOCK" nachlesen.
      </p>
      <h2>
        Wei ich vorher, was in meinem WEINBOCK Packet enthalten ist?
      </h2>
      <p>
        Ihr WEINBOCK Packet knnen Sie an ihre Wohnadresse, in Ihr Bro oder an eine Packstation senden lassen. WEINBOCK versendet ausschlielich innerhalb Deutschlands.Unter Mein Weinbock finden Sie die Auflistung all Ihrer Abonnements. Bitte loggen Sie sich dazu in Ihren Account ein. Mit einem Klick auf Ihr entsprechendes Abo knnen Sie die Details einsehen. Dort finden Sie auch den Button Lieferadresse ndern. Hier knnen Sie Ihre eigene Wohnadresse eintragen oder aber die Ihres Arbeitsplatzes.
      </p>
      <h2>
        Wie kann ich mein WEINBOCK Packet an eine Packstation senden lassen?
      </h2>
      <p>
        Sie knnen sich Ihr WEINBOCK Packet auch an eine Packstation schicken lassen. Dazu bentigen Sie die achtstellige Postnummer und die dreistellige Packstationsnummer. Geben Sie dort, wo bei einer normalen Adresse die Strae stnde, einfach den Begriff Packstation und als Hausnummer die dreistellige Packstationsnummer an. Im Feld Adresszusatz geben Sie einfach die achtstellige Postnummer an. So sieht eine beispielhafte Packstations-Adresse aus:Vorname: Max Nachname: MusterAdresszusatz: XXXXXXXX (achtstellige Postnummer)Strae und Hausnummer: Packstation XXXPLZ und Ort: 12345 Berlin Bundesland: BerlinTelefon: 030/xxxxxxxx
      </p>
      <h2>
        Wann wird der Kaufpreis abgebucht?
      </h2>
      <p>
        Beim Abschluss des Abonnements wird Ihnen der Kaufpreis direkt nach Beendigung des Kaufprozesses in Rechnung gestellt. Beim monatlichen Abo werden die Kosten fr die folgenden Packete in der Regel in der ersten Kalenderwoche des Monats abgebucht. Die Kosten fr die 3-Monats- und 6-Monats-Abonnements werden einmalig abgebucht, danach fallen keine Folgekosten mehr an.
      </p>
      <h2>
        Welche Zahlungsmglichkeiten habe ich?
      </h2>
      <p>
        Ihren WEINBOCK knnen Sie mit Kreditkarte, per Lastschrift oder mit PayPal bezahlen. Der Betrag fr das kommende WEINBOCK Packet wird bereits am Monatsbeginn in der von Ihnen gewnschten Zahlungsweise abgebucht. In den Preisen fr Ihr WEINBOCK Packet ist der Versand bereits einhalten.Wenn Sie ein unbegrenztes Abonnement abgeschlossen haben, wird jeden Monat der Betrag fr das kommende Packet abgebucht. Haben Sie ein 3- oder 6-Monats-Abo abgeschlossen, wird der Gesamtbetrag fr alle Packete auf einmal abgebucht.
      </p>
      <h2>
        Was tun, wenn mich ein Produkt beschdigt erreicht?
      </h2>
      <p>
        Bei aller Sorgfalt, die wir fr Sie beim Verpacken der Lieferungen walten lassen, kann es vereinzelt zu Transportschden kommen. In diesem Fall mchten wir Ihnen schnellstmglich Ersatz leisten. Bitte schicken Sie uns daher umgehend ein Foto des beschdigten Produkts an kontakt@weinbock.de. Wir senden Ihnen dann einen neuen Wein zu.
      </p>
      <h2>
        Was tun, wenn ein Produkt fehlt?
      </h2>
      <p>
        Sollte wider Erwarten einer der auf der Produktkarte aufgelisteten Weine nicht im  WEINBOCK Packet zu finden sein, schreiben Sie uns bitte eine E-Mail an kontakt@weinbock.de und benennen Sie den fehlenden Wein. Sie erhalten dann ein PDF-Formular, welches Sie ausgefllt an uns zurckschicken. Der Kundenservice wird Ihnen dann schnellstmglich den fehlenden Wein zuschicken.
      </p>
      <h2>
        Meine WEINBOCK Packet ist noch nicht da! Was tun?
      </h2>
      <p>
        ber den Versand Ihres WEINBOCK Packetes werden Sie in einer Versandbesttigungs-E-Mail benachrichtigt. Diese E-Mail wird an die E-Mail-Adresse geschickt, die Sie bei Ihrer Anmeldung auf www.weinbock.de angegeben haben. In Einzelfllen wird die Versandbesttigungs-E-Mail von Ihrem E-Mail-Provider in den Spam-Ordner geleitet. In der Versandbesttigungs-E-Mail finden Sie die Bestellnummer zur Sendungsverfolgung. Diese knnen Sie auch in Ihrem Account unter Meine Bestellungen einsehen. Mithilfe dieser Nummer knnen Sie bei der DHL verfolgen, wo sich Ihr Paket gerade befindet und wann Ihr WEINBOCK Packet Sie voraussichtlich erreicht.
      </p>
    </section>
    <section id="myAccount">
      <div class="page-header">
        <h1>
          Mein Weinbock
        </h1>
      </div>
      <h2>
        Welche Vorteile bietet mir mein Geschmacksprofil?
      </h2>
      <p>
        Das Geschmacksprofil enthlt Fragen zu Ihren Wein-Vorlieben. Mithilfe des Geschmacksprofils knnen wir einen besseren Einblick davon gewinnen, welche Vorlieben die WEINBOCK Kunden und Kundinnen haben, um die Weine noch besser auswhlen zu knnen. Die unterschiedlichen Packetversionen werden bestmglich an Vorlieben und Eigenschaften der WEINBOCK Kunden und Kundinnen angepasst. Zum Entdecken neuer Trends und Produktklassen werden immer wieder Weine in die Packete gegeben, die von den angegebenen Vorlieben abweichen, um Sie zu berraschen und fr neue Sorten zu begeistern.
      </p>
      <h2>
        Wie reaktiviere ich mein Abo?
      </h2>
      <p>
        Die Reaktivierung eines alten Abos erfolgt ber Ihren Account: Loggen Sie sich dazu ein und gehen Sie auf "Meine Abonnements". Dort werden alle Abos angezeigt, aktive genauso wie gekndigte und ausgelaufene. Ein beendetes Abo erkennen Sie an dem roten Kreuz, ein aktives Abo wird mit einem grnen Haken gekennzeichnet. Wenn Sie ein Abo reaktivieren mchten, klicken Sie einfach auf den Button "Erneut aktivieren". Daraufhin knnen Sie whlen, ob Sie ein unbefristetes Abo oder ein Abo mit befristeter Laufzeit von 3 oder 6 Monaten abschlieen mchten. Sobald Sie sich entschieden hast, werden verschiedene Optionen angezeigt; so knnen Sie zum Beispiel einen Gutscheincode einlsen. Wenn das WEINBOCK Packet an eine neue Lieferadresse gerschickt werden soll, knnen Sie diese hier ndern. Auerdem haben Sie die Mglichkeit, Ihre bereits bestehende Zahlungsmethode beizubehalten oder alternativ eine neue Zahlungsart anzugeben. Beachten Sie dabei bitte, dass eine Aktualisierung der Zahlungsmethode dazu fhrt, dass diese auch fr alle anderen Abonnements bernommen wird, die mit Ihrem Account verknpft sind! Sollten Sie eine ausreichende Zahl an CORK-Points  gesammelt haben, wird Ihnen an dieser Stelle auerdem die Option angezeigt, diese fr die Reaktivierung des Abos einzulsen.
      </p>
      <h2>
        Wie sammle ich CORK-Points?
      </h2>
      <p>
        CORK-Points knnen Sie fr das Bewerten der Weine aus Ihrem WEINBOCK Packet  sammeln oder durch die erfolgreiche Empfehlung von WEINBOCK an Ihre Freunde, Bekannten oder Verwandten ..Link.. . Nach Erhalt Ihres WEINBOCK Packets knnen sie in Ihrem Account alle aktuellen Produkte des Packets einsehen. Klicken Sie dazu nach dem Login auf Feedback. Hier werden Ihnen Ihre WEINBOCK-Produkte angezeigt. Bei jedem Wein befindet sich der Button Jetzt bewerten. Beim Klick darauf ffnet sich ein kurzer Fragebogen. Beantworten Sie den Fragebogen und tragen Sie an dessen Ende die E-Mail-Adresse ein, mit der Sie bei WEINBOCK angemeldet sind. Fr jeden ausgefllten Fragebogen erhalten Sie 20 CORK-Points. Jeden Monat knnen Sie maximal 100 CORK-Points sammeln. Unter Meine CORK-Points knnen Sie einsehen, wie viele CORK-Points Sie bereits gesammelt haben. In Ihrem Account werden Produkte angezeigt, die Sie nicht in Ihrem WEINBOCK Packet hatten? Schreiben Sie in diesem Fall einfach eine E-Mail an kontakt@weinbock.de. Der Kundenservice kmmert sich gern darum, dass die korrekten Produkte in Ihrem Account angezeigt werden, sodass Sie diese bewerten knnen.
      </p>
      
      <p>
        CORK-Points durch Empfehlungen verdienenFr jede erfolgreiche Empfehlung von WEINBOCK erhalten Sie 200 CORK-Points. Eine Empfehlung gilt als erfolgreich, wenn eine andere Person auf Ihre persnliche Empfehlungs-E-Mail klickt und daraufhin ein Abonnement abschliet. Ihre persnlichen Empfehlungs-E-Mails knnen Sie ber Meine Einladungen verschicken. Nur, wenn das Abonnement nach dem Klick auf den Button in Ihrer persnlichen Einladungs-E-Mail abgeschlossen wird, knnen Ihnen die CORK-Points gutgeschrieben werden. In Ihrem Account finden Sie unter Meine Einladungen eine bersicht aller von Ihnen verschickten Einladungs-E-Mails. Sie knnen dort auch sehen, wer von Ihren Freunden die Einladung angenommen hat und wie viele CORK-Points Sie dadurch schon verdient haben. Sie haben dort ebenfalls die Mglichkeit, Ihre Freunde durch eine Erinnerungs-E-Mail an Ihre Einladung zu erinnern.Sie knnen Ihre CORK-Points in Ihrem Account unter "Meine CORK-Points" einsehen. Sobald Sie den Feedbackbogen zu einem Produkt aus Ihrem WEINBOCK Packet ausgefllt haben werden Ihnen die CORK-Points sofort gutgeschrieben. Das Feedback fr Ihre Weine kann nur solange abgegeben werden, bis das Feedback fr das darauf folgende Packet verfgbar ist, danach knnen Sie keine CORK-Points fuer das alte Packet mehr sammeln.
      </p>
      <h2>
        Wie lse ich meine CORK-Points ein?
      </h2>
      <p>
        Ihre CORK-Points knnen Sie unter Meine CORK-Points fr ein gratis WEINBOCK Packet einlsen. Sie knnen jeweils 1.000 CORK-Points fr ein gratis WEINBOCK Packet im unbefristeten Abo einlsen, fr ein WEINBOCK Packet im befristeten Abonnement bentigen Sie 3.000 CORK-Points bei dem 3-Monats-Packet bzw. 6.000 CORK-Points bei dem 6-Monats-Packet. Dafr muss das Abonnement, fr das Sie Ihre CORK-Points einlsen mchten, ber denselben Account wie Ihr WEINBOCK-Abo laufen. CORK-Points knnen nur fr fortlaufende Abonnements eingelst werden, nicht fr den Kauf eines neues Abos. Nach dem Einlsen der CORK-Points luft ihr Abonnement wie gewohnt automatisch weiter.
      </p>
      <h2>
        Kann es sein, dass ich ein Produkt ein zweites Mal erhalte?
      </h2>
      <p>
        Wir sind stets bemht, den Weinmix in Ihren WEINBOCK Packeten so spannend und abwechslungsreich wie mglich zu gestalten. In Einzelfllen kann es vorkommen, dass einzelne Weine erneut in Ihrer Packetversionen landen.
      </p>
      <h2>
        Wo kann ich meine kundenrelevanten Daten verwalten?
      </h2>
      <p>
        Alle Daten, die Ihren WEINBOCK betreffen, wie etwa Rechnungsadresse, Lieferadresse, CORK-Points, Sendungsverfolgung, Kndigung, Newsletter usw. knnen Sie in Ihrem Account verwalten.
      </p>
      <h2>
        Wie kann ich die Zahlungsweise ndern?
      </h2>
      <p>
        Unter Meine Abonnements knnen Sie ganz einfach die von Ihnen gewnschte Zahlungsweise auswhlen und ndern. Die nderung wird fr das folgende Packet bernommen. Ist der Betrag fr das Packet im aktuellen Monat bereits abgebucht worden, wird die nderung der Zahlungsweise erst fr den folgenden Monat aktiv.Wenn Sie die Zahlungsweise fr ein Abonnement ndern, wird diese Zahlungsweise fr alle mit diesem Account verbundenen Abonnements bernommen. Wenn Sie also ber den gleichen Account 2 Abonnements abgeschlossen haben, so knnen Sie diese ausschlielich ber eine gemeinsame Zahlungsweise bezahlen. Wenn Sie zwei Abonnements abschlieen mchten und diese mit unterschiedlichen Zahlungsmethoden bezahlen mchten, legen Sie einfach fr jedes der Abonnements einen neuen Benutzer-Account an.
      </p>
      <h2>
        Wie kann ich meine Liefer- und Rechnungsadresse ndern?
      </h2>
      <p>
        Wenn Sie Ihre Lieferadresse ndern, kann Ihr kommendes WEINBOCK Packet nur dann an die neue Adresse versendet werden, wenn die Adressnderung vor der Abbuchung fr das Packet geschehen ist. Wenn Sie beispielsweise Ihre Adresse Mitte Oktober im Benutzerkonto ndern, nachdem das Geld fr die Oktober-Packet schon abgebucht wurde, wird Ihr Oktober-Packet noch an die alte Adresse verschickt. Erst das November-Packet wird an Ihre neu eingetragene Adresse verschickt.Ihre Lieferadresse zu ndern, ist ganz einfach:- Loggen Sie sich in Ihren Account ein- Klicken Sie auf Meine Abonnements- Whlen Sie hier das Abonnement aus, fr das Sie die Lieferadresse ndern mchten- Klicken Sie danach entweder auf Lieferadresse ndern oder Rechnungsadresse ndern"- Tragen Sie Ihre Daten einNur, wenn Sie im Anschluss auf Adresse speichern klicken, kann Ihre neue Adresse gespeichert werden.
      </p>
      <h2>
        Wieso kann ich mich nicht in meinen Account einloggen?
      </h2>
      <p>
        Bitte versuchen Sie als erstes sich ein neues Passwort zuschicken zu lassen. Wenn Sie sich danach immer noch nicht einloggen knnen, wenden Sie sich bitte an unseren Kundenservice unter kontakt@weinbock.de, geben Sie Ihren vollen Namen an und schildern Sie Ihre Problematik.
      </p>
      <h2>
        Kann ich mein WEINBOCK-Abo widerrufen? Wie kann ich kndigen?
      </h2>
      <p>
        Welche Abos kann ich kndigen?Ihr unbegrenzt laufendes Abonnement  von WEINBOCK knnen Sie jederzeit kndigen. Den Abschluss eines 3- oder 6-Monats-Abos knnen Sie ausschlielich vor Erhalt des ersten Packetes widerrufen. Ein 3-Monats-Abo oder 6-Monats-Abo nach Erhalt eines Packetes zu kndigen, ist nicht mglich. 
      </p>
      <p>
        Abgeschlossenes Abo vor Erhalt eines Packetes widerrufen oder laufendes Abo kndigen: Wenn Sie ein Abonnement abgeschlossen haben, knnen Sie es innerhalb von 14 Tagen nach Erhalt der Besttigungs-E-Mail widerrufen. Loggen Sie sich dazu in Ihr Benutzerkonto ein und klicken Sie auf Meine Abonnements. Whlen Sie dort das betreffende Abo aus. Ganz unten auf der folgenden Seite finden Sie den Button Abonnement kndigen. Besttigen Sie die Kndigung mit einem Klick auf den Button OK. Klicken Sie, wenn Sie wirklich kndigen mchten, abschlieend noch einmal auf Kndigen. Whlen Sie auf der folgenden Seite den Grund fr Ihre Kndigung aus und besttigen Sie mit einem Klick auf Meinen WEINBOCK kndigen. Sie erhalten eine Kndigungsbesttigung per E-Mail. Eventuell gezahlte Betrge werden auf Ihr Konto zurckgebucht. Ihr Abo ist damit beendet und sie erhalten keine weiteren WEINBOCK Packete.
      </p>
      <p>
        Abgeschlossenes Abo nach Erhalt des ersten Packetes widerrufen:Wenn Sie Ihr WEINBOCK Packet bereits erhalten haben, knnen Sie dieses bis zu 14 Tage nach Erhalt zurckschicken und sich den Kaufbetrag erstatten lassen. Ihr WEINBOCK Packet knnen Sie nur dann zurckschicken, wenn alle Weine vollstndig und ungeffnet sind.Schreiben Sie dazu bitte eine E-Mail an kontakt@weinbock.de und teilen Sie uns darin mit, dass Sie Ihr WEINBOCK Packet zurckschicken mchten. Sie erhalten dann vom Kundenservice ein Rcksende-Label zugeschickt, welches Sie ausdrucken und auf das Paket kleben knnen. Der Versand mit diesem Label ist fr Sie kostenlos. Sobald das Paket wieder bei uns eingetroffen ist, wird die Erstattung Ihres Geldes veranlasst. Das Rcksenden des WEINBOCK Packetes ist nur dann kostenlos, wenn es innerhalb von 14 Tagen nach Erhalt geschieht und Sie das von uns ausgestellte Label verwenden.Legen Sie bitte dem Paket eine kurze Notiz bei, ob Sie Ihr Abonnement kndigen wollen oder ob es nach dem zurckgeschickten Packet weiterhin bestehen soll. Zweites oder spteres WEINBOCK Packet zurckgeben:Wenn Sie Ihr WEINBOCK Packet bereits erhalten haben, knnen Sie dieses bis zu 14 Tage nach Erhalt zurckschicken und sich den Kaufbetrag erstatten lassen. Ihr WEINBOCK Packet knnen Sie nur dann zurckschicken, wenn alle Weine vollstndig und ungeffnet sind. Die Versandkosten fr die Rckgabe Ihres WEINBOCK Packetes tragen Sie in diesem Fall selbst. Legen Sie bitte dem Paket eine kurze Notiz bei, ob Sie Ihr Abonnement kndigen wollen oder ob es nach dem zurckgeschickten Packet weiterhin bestehen soll. Sobald das Paket wieder bei uns eingetroffen ist, wird die Erstattung des Kaufbetrags veranlasst. Das Rcksenden des WEINBOCK Packets erfolgt in diesem Fall auf Ihre eigenen Kosten.Ihr WEINBOCK Packet knnen Sie bis zum Erhalt der folgenden Packetes zurckgeben. Haben Sie beispielsweise Ihr November-Packet bereits erhalten, knnen Sie Ihr Oktober-Packet nicht mehr zurckgeben.Details zu Rckgabe, Widerruf und Kndigung finden Sie in der Widerrufsbelehrung und den AGB.
      </p>
    </section>
  </div>
  </div>
</div>