<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Datenschutz</h1>
    <p class="lead">Wie bestelle ich mein Weinbock packet?</p>
  </div>
</header>

<div class="container">
  <p>Diese Website wird von der Weinbock UG (Haftungsbeschränkt), Musterstraße 00, 10123 Berlin (sog. verantwortliche Stelle im Sinne des Datenschutzrechts) betrieben.</p>

  <p>Der Schutz Ihrer personenbezogenen Daten ist uns sehr wichtig. Wir behandeln dieses Thema sehr sorgfältig und informieren Sie deshalb im Folgenden zum Umgang mit Ihren personenbezogenen Daten. </p>

  <p>Soweit wir im Rahmen der zum Kauf nötigen Bestellvorgänge personenbezogene Daten von Ihnen erheben, verwalten, verarbeiten oder nutzen ("verwenden"), geschieht dies nur im Rahmen des deutschen und europäischen Datenschutzrechts.</p>

  <p>Sie können unsere Website besuchen und sich informieren, ohne persönliche Angaben machen zu müssen. Während Ihres Besuches auf unserer Seite bleiben Sie dann grundsätzlich anonym und die bei jedem Seitenaufruf durch Ihren Internet- Browser übermittelten Verbindungsdaten wie zum Beispiel das Datum, die Verweildauer oder der Name Ihres Internet Service Providers werden bei uns ohne Personenbezug verwendet, es sei denn Sie haben sich mit Ihrem Benutzernamen und Passwort angemeldet. </p>

  <p>Persönliche Angaben machen Sie freiwillig, zum Beispiel wenn Sie eine Bestellung tätigen, einen Newsletter bestellen oder ähnliche Funktionen nutzen. Diese persönlichen Angaben können umfassen:</p>

  <p>Vor- und Nachname<br>
  Anschrift<br>
  E-Mail-Adresse<br>
  Telefonnummer<br>
  Telefaxnummer<br>
  Geburtsdatum<br>
  Bankverbindung bzw. Kreditkartendaten<br>
  Bestellhistorie</p>

  <p>Wir verwenden diese Daten, um Ihre Bestellung vertragsgemäß zu erfüllen bzw. Ihnen die gewünschte Dienstleistung zu erbringen, zur Bearbeitung von Reklamationen und um Ihnen den Kundendienst zu erbringen, z.B. Fragen zu beantworten.</p>

  <p>Soweit wir hierfür dritte Dienstleister einsetzen/beauftragen (z.B. Versandunternehmen, Zahlungsdienstleister) erhalten diese von uns nur die notwendigen Daten und sind ihrerseits zum Schutz ihrer persönlichen Daten verpflichtet. Ihre Telefonnummer verwenden wir nur für Rückfragen. Ihre E-Mail-Adresse benötigen wir, damit wir Ihnen den Bestelleingang bestätigen und mit Ihnen kommunizieren können (z.B. zur Versendung einer Bestelleingangsbestätigung oder eines bestellten Newsletters).</p>

  <p>Bei erstmaliger Bestellung oder erstmaliger Nutzung von Funktionen, die eine Registrierung voraussetzen, werden Ihre Daten zur Anlegung eines Bestellerkontos gespeichert, um Ihnen zukünftig einen schnelleren und bequemeren Kauf zu ermöglichen. </p>

  <p>Soweit wir Daten für einen Zweck nutzen, der nach den gesetzlichen Bestimmungen Ihr Einverständnis erfordert, werden wir Sie jeweils um Ihr ausdrückliches Einverständnis bitten. Sie können ein einmal gegebenes Einverständnis selbstverständlich jederzeit widerrufen und/oder künftigen Verwendungen Ihrer Daten widersprechen.</p>

  <p>Im Rahmen der gesetzlichen Bestimmungen können wir für Zwecke der Werbung, zur Marktforschung und zur Verbesserung unserer Dienste Nutzungsprofile unter einem Pseudonym auswerten, jedoch nur, soweit Sie nicht von Ihrem gesetzlichen Recht Gebrauch gemacht haben, dieser Verwendung Ihrer Daten zu widersprechen.</p>

  <p>Ein Teil unserer Dienste erfordert es, dass wir sog. Cookies einsetzen. Cookies sind kleine Datenmengen, die Ihr Internetbrowser auf Ihrem Rechner speichert. In Cookies können Informationen über Ihren Besuch auf unserer Website gespeichert werden. Die meisten Browser sind standardmäßig so eingestellt, dass sie Cookies akzeptieren. Sie können jedoch Ihren Browser so umkonfigurieren, dass er Cookies ablehnt oder vorher eine Bestätigung von Ihnen erfragt. Wenn Sie Cookies ablehnen, kann dies allerdings zur Folge haben, dass nicht alle unsere Angebote für Sie störungsfrei funktionieren. <a href="/privacy-policy-cookies">Detaillierte Informationen zu Cookies finden Sie hier.</a></p>

  <p>google analytics</p>

  <p>Sie haben das Recht, jederzeit Auskunft über die zu Ihrer Person gespeicherten persönlichen Daten zu erhalten und diese zu korrigieren, zu ergänzen oder zu löschen. Unsere Kontaktdaten finden Sie im Impressum.</p>

</div>