
<div>

	<img class="prodBg" src="/images/bg.jpeg" alt="Das Weißweinpaket">

	<div>

		<div class="accordion" id="myaccordion">

		</div>

		<div class="outside">
		    <div class="social clearfix">
		        <div class="fb-like ">
		        	<a href="http://facebook.com">facebook</a>
		        </div>

				<div class="twitter">
					<a href="http://twitter.com">twitter</a>
				</div>

				<div class="g-plus">
					<a href="http://plus.google.com">g-plus</a>
				</div>

			    <div class="pinterest">
			        <a href="http://www.pinterest.com">pinterest</a>
			    </div>
		    </div>*inkl. MwSt. zzgl. Versand
	    </div>

	</div>
</div>

