<p class="pull-right"><a href="#">Back to top</a></p>
<p>&copy; 2013 Weinbock, UG (Haftungsbeschraenkt) &middot; <a href="#privacy">Datenshutz Hinweise</a> &middot; <a href="#">AGB</a> &middot; <a href="#impressum">Impressum</a></p>
